@media only screen and (min-width: 60em) {
    main {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
    }
  
    section.topic1 {
      grid-column: 1;
      grid-row: none;
    }
  
    section.topic2 {
      grid-column: 2;
      grid-row: none;
    }
  
    section.topic3 {
      grid-column: 3;
      grid-row: none;
    }
  
    img.image3 {
      height: 622px;
      width: 100%;
    }
  
    img {
      height: 622px;
      width: 100%;
    }
  }
  