@media only screen and (min-width: 60em) {
    main {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: none;
    }
  
    card.first {
      grid-column: 1;
      grid-row: none;
    }
  
    card.second {
      grid-column: 2;
      grid-row: none;
    }
  
    card.third {
      grid-column: 3;
      grid-row: none;
    }
  
    img.binance {
      height: 622px;
      width: 100%;
    }
  
    img {
      height: 622px;
      width: 100%;
    }
  }
  