@media only screen and (min-width: 32.5em) {
    main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 0fr);
    }
  
    section,
    footer {
      margin: 10px 0px;
    }
  
    card.first {
      grid-column: 1;
      grid-row: 1;
    }
  
    card.second {
      grid-column: 2;
      grid-row: 1;
    }
  
    card.third {
      grid-column: 1/3;
      grid-row: 2;
    }
  
    .binance {
      width: 100%;
      height: auto;
    }
  }
  
  