body {
    margin: 20px auto;
    max-width: 100%;
  }
  
  body,
  main {
    background-color: white;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }
  
  h1 {
    font-size: 35px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 20px;
    background-color: #042B43;
    margin: 0px;
    padding: 10px;
  }
  
  header,
  h3 {
    font-family: "Arvo", Georgia, serif;
    color: #3F88C5;
  }
  
  header,
  footer {
    text-align: center;
    background-color: #042B43;
    padding: 10px 0px;
  }
  
  section,
  img {
    border: 1px solid #ffba08;
  }
  
  section,
  footer {
    margin: 10px;
  }
  
  section {
    border-radius: 10px;
    background-color:  #ffba08;
    padding: 10px 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    justify-self: center;
    border: 2px solid  #ffba08;
    margin-top: 10px;
  }
  
  p,
  footer {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 16px;
  }
  
  img p {
    padding-bottom: 15px;
  }
  