@import url('https://fonts.googleapis.com/css2?family=Besley&family=Oswald:wght@300&family=Spartan:wght@700&family=Roboto&family=Secular+One&display=swap');
body {
  background-color: white;
}
h1 {
  
  width: 100% ;
  text-align: center;
  color:rgb(255, 255, 255)

}
p{
  font-family: 'Oswald', serif; 
  font-size: 1em;
  line-height: 1.15em;
  padding: 10px;
  color: #120f2c;
  margin-top: 0;
  margin: 0em;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(75, 86, 95);
}

#currentdate {
  background-color: rgb(43, 226, 217);
  padding: 10px;
  color: rgb(18, 1, 22);
  height: 12px;
  align-self: bottom;
  border-radius: 10px
}

footer {
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: #0b1825;
  color: #fff;
}