@import url('https://fonts.googleapis.com/css2?family=Besley&family=Oswald:wght@300&family=Spartan:wght@700&family=Roboto&family=Secular+One&display=swap');
body {
  background-color: white;
  font: size 20px;
  margin: 0;
}
h1 {
  padding: 1rem;
  width: 100% ;
  text-align: center;
  color: #3F88C5
  
}

p{
  font-family: 'Oswald', serif; 
  font-size: 1em;
  line-height: 1.15em;
  padding: 10px;
  color: #042B43;
  margin-top: 0;
  margin: 0em;
}

header {
  display: flex;
  align-items: center;
  background-color: #042B43;;
  
}

#currentdate {
  background-color: #3F88C5;
  padding: 10px;
  color: rgb(18, 1, 22);
  height: 12px;
  align-self: bottom;
  border-radius: 10px
}

footer {
  display: flex;
  justify-content: center;
  padding: 7px;
  background-color: #042B43;;
  color: #fff;
}